# Copier en .env et remplir. NE JAMAIS COMMITER .env
LLM_URL=https://.../openai/v1
LLM_API_KEY=xxx
LLM_MODEL=gpt-5.5
FAST_MODEL_URL=https://....cognitiveservices.azure.com/
FAST_MODEL_KEY=xxx
FAST_MODEL_DEPLOYMENT=gpt-4.1
FAST_MODEL_API_VERSION=2024-12-01-preview
